Hello {{#personal}}{{{personal}}}{{/personal}}{{^personal}}{{{address}}}{{/personal}},

{{^report_failed}}
Your report ‘{{{report_title}}}’ is ready for download. You can download the report in CSV, TSV or Excel format by following the corresponding link below:

{{#report_urls}}
{{! tab character here}}       {{{key}}} File: {{{value}}}
{{/report_urls}}

If you need assistance opening the CSV or TSV file, please visit:
https://help.dsp.samsungads.com/docs/access-extract-your-reports
{{/report_failed}}
{{#report_failed}}There was a problem building your report '{{{report_title}}}'.

Try re-running your report. If you need help with report setup, please visit:
https://help.dsp.samsungads.com
{{/report_failed}}

-- {{! separator is dash-dash-space}}
{{{signature}}}


CONFIDENTIALITY: This document is intended solely for the individual or entity to whom it is addressed. The information contained in this document is legally privileged and confidential. If you are not the intended recipient or the person responsible for delivering it to the intended recipient, you are hereby advised that you are strictly prohibited from reading, using, copying or disseminating the contents of this document. Please inform the sender immediately or write to privacy@adgear.com and delete this document immediately.

